@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;1,300&display=swap');
// variables
$primaryColor : #272A31;
$textColor : #EC5242;
$backgroundColor : #D3D3D3;

.main-program {
 background: $primaryColor;
 padding: 5rem 3rem;
}

.main-program-head {
 text-align: center;
 color: $backgroundColor;
 font-size: 1rem;
 padding: 1rem 0;
}

.main-program-sub {
 text-align: center;
 color: $backgroundColor;
 font-size: 1rem;
 padding: 1rem 0;
}

.card-body {
 background: $primaryColor;
 opacity: 0.9;
}

.main-program-card {
 margin-left: 10rem;
}

.card-title {
 color: $textColor;
 font-size: 1rem;
 font-weight: bold;
}

.card-text {
 color: $backgroundColor;
 // font-size: 2rem;
 font-weight: bold;
}

// featured speakers
.albums {
 display: grid;
 grid-template-columns: repeat(auto-fit, minmax(700px, 1fr));
 grid-gap: 20px;
}

.album {
 background-color: rgba(255, 255, 255, 0.2);
 box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
 padding: 20px;
 display: grid;
 grid-template-columns: 150px 1fr;
 grid-gap: 20px;
 align-items: center;
}

.album-head {
 color: $primaryColor;
 font-size: 1.2rem;
 font-weight: bold;
}

.red-fonts {
 color: $textColor;
 font-style: italic;
 font-size: 1rem;
 font-weight: bold;
}

.text {
 font-size: 0.7rem;
 color: $primaryColor;
}

// footers

.footer {
 text-align: center;
}

.main-footer {
 background: $primaryColor;
 padding: 4rem 4rem;
}

.partner {
 color: $backgroundColor;
 font-size: 1rem;
 padding: 1rem 0;
}

.sub-footer {
 background: $backgroundColor;
 padding: 4rem 4rem;
 color: $primaryColor;
 font-weight: bold;
}

// about page

.about-container {
 align-content: center;
 margin: 0 20rem;
 padding: 4rem 0;
}